<div class="container">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv8y8b_PB7WvLWgcFx2z_KJVuGv-cCTkassQ&usqp=CAU" alt="Avatar" style="width:100%; height:100%;">
                <div class="card-style">
                    <h4><b>Expense At Retirement, Retirement Corpus And Monthly Investments</b></h4>
                    <a routerLink="/expense" routerLinkActive="active" class="cardClr my-1">
                    Calculate
                    </a>
                    <button mat-raised-button (click)="openDialog()">Calculation Details</button>
                </div>
            </div>
        <!-- <div class="col-sm-4">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv8y8b_PB7WvLWgcFx2z_KJVuGv-cCTkassQ&usqp=CAU" alt="Avatar" style="width:100%; height:100%;">
                <div class="card-style">
                <h4><b>Retirement Corpus</b></h4>
                <p>Calculate</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv8y8b_PB7WvLWgcFx2z_KJVuGv-cCTkassQ&usqp=CAU" alt="Avatar" style="width:100%; height:100%;">
                <div class="card-style">
                <h4><b>Monthly Investments</b></h4>
                <p>Calculate</p>
                </div>
            </div>
        </div> -->
</div>